.app{
  background-color: black;
}
.terminal{
  /* background: black; */
  color: white;
  font: courier;
  padding: 100px;
  margin: auto;
  height: auto;
  overflow: hidden;
}
#path{
  color: darkkhaki;
}
.line{
  display: table;
  width: 100%;
}

.terminal span{
  display:table-cell; 
  width:1px;
}

.terminal input{
  display:table-cell; 
  width:100%;
  border: none;
  background: black;
  color: white;
  outline: none;
}
#terminal_box{
  background-color: black;
  
}
#music_box{
  margin-top: 300px;
}
